@model IEnumerable<Currency.Analysis.Accenture.Domain.DTOs.CurrencyDTO>

@{
    ViewData["Title"] = "History";

    
}

<h1>Hitórico</h1>

<p>
    <a asp-action="Create" id="update-button">Adicionar</a>
</p>
<div class="list" id="style-1">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Applied)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Replacement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OutputValue)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Applied.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Replacement.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OutputValue)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" id="update-button">Detalhes</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
